*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #000;
}

#acessibilidade{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 105%;
}

#atalhos li{
list-style-type: none;
display: inline;
color: yellow;
text-align: center;
padding-top: 1%;
padding-bottom: 1%;
}

#atalhos li a{
    color: yellow;
    padding: 1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
}

#atalhos li a:hover{
    color: yellow;
    padding: 1%;
}

#cabeçalho{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: 105%;
    background-color: rgb(29, 29, 29);
    padding-top: 2%;
    padding-bottom: 2%;
    color: yellow;
    }
    
#cabeçalho .navegacao20 ul{
list-style-type: none;
padding: 0;
padding-right: 2%;
color: yellow;
}

#cabeçalho .navegacao20 ul{
    background-color: #fff;
    color: yellow;
}

#cabeçalho .navegacao20 ul li{
    display: inline;
    position: relative;
    color: yellow;
}

#cabeçalho .navegacao20 ul li a{
    color: yellow;
    text-decoration: none;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    transition: background .3s;
}

#cabeçalho .navegacao20 ul li a:hover{
color: yellow;
}

#cabeçalho .navegacao20 ul ul{
display: none;
position: absolute;
left: 3%;
color: yellow;
}

#cabeçalho .navegacao20 ul li:hover ul{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;
    display: block;
    margin-bottom: 10%;
    color: yellow;
}

#cabeçalho .navegacao20 ul ul{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    width: 100px;
    color: yellow;
}

#cabeçalho .navegacao20 ul ul li a{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding-top: 4%;
    padding-bottom: 4%;
    color: yellow;
}

.link1{
    color: yellow;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.link2{
    color: yellow;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
  
.link3{
    color: yellow;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.linkmenu{
color: yellow;
}

.linkmenu:hover{
    color: yellow;
}

.linkmenu2{
    color: yellow;
}

.linkmenu2:hover{
    color: yellow;
}

.linkmenu3{
    color: yellow;
}

.linkmenu3:hover{
    color: yellow;
}

.paragrafo011{
    position: absolute;
    padding-top: 33%;
    padding-left: 45%;
    padding-right: 45%;
    background-image: linear-gradient(45deg, rgb(19, 22, 119), rgb(53, 139, 238));
    background-size: 300% 300%;
    margin-top: 2%;
    margin-left: 5%;
    width: 80%;
    height: 50%;
    object-fit: cover;
}

@keyframes colors{
    0%{
background-position: 0% 50%;
    }
    50%{
background-position: 100% 50%;
    }
    100%{
background-position: 0% 50%;
    }
}

.paragrafo08{
    position: absolute;
    padding-top: 32%;
    padding-left: 45%;
    padding-right: 45%;
    background-color: rgb(8, 90, 19);
    margin-top: 3.8%;
    margin-left: 5%;
    width: 80%;
    height: 60%;
    object-fit: cover;
}

.paragrafo013{
    position: absolute;
    padding-top: 33%;
    padding-left: 45%;
    padding-right: 45%;
    background-image: linear-gradient(45deg, rgb(155, 44, 29), rgb(248, 77, 46));
    background-size: 300% 300%;
    margin-top: 2%;
    margin-left: 5%;
    width: 80%;
    height: 50%;
    object-fit: cover;
}

.imagem030{
    position: absolute;
    margin-top: 2%;
    margin-left: 10.5%;
    width: 80%;
    height: 71%;
    object-fit: cover;
}

.secao28{
    font-size: 105%;
    margin-left: 1%;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

.imagem30{
    width: 7%;
    height: 14%;
    position: absolute;
    right: 76%;
    left: 1%;
    bottom: 82.5%;
    object-fit: cover;
}

.imagem039{
    position: absolute;
    margin-top: 2%;
    margin-left: 14.9%;
    width: 71%;
    height: 72%;
}

.opcao0{
color: yellow;
}

.opcao0:hover{
color: yellow;
}

.opcao1{
color: yellow;
}

.opcao1:hover{
color: yellow;
}

.opcao2{
color: yellow;
}

.opcao2:hover{
color: yellow;
}

a:hover{
    color: yellow;
}

section{
    width: 100%;
    margin-left: 1%;
    color: #fff;
}

section ol{
    list-style-type: none;
    padding: 0;
    color: #fff;
}

section ol li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

section ol li::after{
    content: '>>';
    margin-right: 10px;
    font-size: .8em;
    color: #fff;
}

section ol li:last-child::after{
    content: '';
}

section ol li a{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
margin-right: 10px;
color: yellow;
}

.imagem0{
    position: absolute;
    top: 32.3%;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 68%;
    object-fit: cover;
}

#titulop{
    position: absolute;
    bottom: 36%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    margin-top: 8%;
    margin-bottom: 18%;
    margin-left: 33%;
    color: #fff;
}

#titulops{
    position: absolute;
    bottom: 37%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8%;
    margin-bottom: 18%;
    margin-left: 33%;
    color: #fff;
    font-size: 140%;
}

#titulopn{
    position: absolute;
    bottom: 37%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8%;
    margin-bottom: 18%;
    margin-left: 33%;
    color: #fff;
    font-size: 140%;
}

.subtitulo01{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40%;
    margin-bottom: 9%;
    margin-left: 10%;
    color: #fff;
    font-size: 21px;
}

.box{
    position: absolute;
    top: 105%;
    left: 71%;
    border: 1px solid #fff;
    outline: none;
    background-color: #353b48;
    padding-right: 4%;
    padding-left: 1%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border-radius: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.box:hover{
    background-color: #2b3241;
}

.btn{
    position: absolute;
    top: 105.5%;
    left: 86%;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
}

.box:hover .btn{
    background: white;
}

.lupa{
    position: absolute;
    top: 106.1%;
    left: 86.3%;
    height: 4%;
    width: 2%;
}

.box2{
    position: absolute;
    top: 105%;
    left: 70%;
    border: 1px solid #fff;
    outline: none;
    background-color: #353b48;
    padding-right: 4%;
    padding-left: 1%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border-radius: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.box2:hover{
    background-color: #2b3241;
}

.btn2{
    position: absolute;
    top: 105.5%;
    left: 85%;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
}

.box2:hover .btn2{
    background: white;
}

.lupa2{
    position: absolute;
    top: 106.1%;
    left: 85.3%;
    height: 4%;
    width: 2%;
}

.box3{
    position: absolute;
    top: 105%;
    left: 70%;
    border: 1px solid #fff;
    outline: none;
    background-color: #353b48;
    padding-right: 4%;
    padding-left: 1%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border-radius: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.box3:hover{
    background-color: #2b3241;
}

.btn3{
    position: absolute;
    top: 105.5%;
    left: 85%;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
}

.box3:hover .btn3{
    background: white;
}

.lupa3{
    position: absolute;
    top: 106.1%;
    left: 85.3%;
    height: 4%;
    width: 2%;
}

#divisao0{
    padding: 0;
}

.imagem3{
position: absolute;
top: 117%;
left: 9%;
height: 35%;
object-fit: cover;
}

.imagem3g{
    position: absolute;
    top: 119%;
    left: 9%;
    height: 34%;
    object-fit: cover; 
}

.imagem303{
    position: absolute;
    top: 117%;
    left: 9%;
    width: 11%;
    height: 36%;
    object-fit: cover;
}

.imagem004{
    position: absolute;
    top: 117%;
    left: 34%;
    height: 35%;
    object-fit: cover;
}

.paragrafo1{
font-family: Arial, Helvetica, sans-serif;
font-size: 105%;
position: absolute;
top: 154%;
left: 9%;
}

.botao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    position: absolute;
    top: 158%;
    left: 9%;
    background-color: rgb(24, 139, 233);
    color: white;
    border: none;
    border-radius: 20%;
    padding: 0.4%;
}

.valorr{
    position: absolute;
    font-size: 105%;
    top: 158.9%;
    left: 12.9%;
    text-decoration: line-through;
}

.paragrafo2{
    position: absolute;
    font-size: 105%;
    top: 158.9%;
    left: 18.9%;
}

.botao2{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 163.9%;
    left: 9%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 105%;
}

.botao2:hover{
    background-color: rgb(78, 170, 245);
}

.imagem0048{
    position: absolute;
    top: 117.8%;
    left: 34%;
    width: 11%;
    height: 35%;
    object-fit: cover;
}

.paragrafo3303{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 153%;
    left: 34%;  
}

.imagem005{
position: absolute;
top: 117%;
left: 60%;
height: 35%;
object-fit: cover;
}

.imagem0055{
position: absolute;
top: 118%;
left: 60%;
height: 35%;
object-fit: cover;
}

.paragrafo0055{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 153.3%;
    left: 60%;  
}

.paragrafo0066{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 156.5%;
    left: 60.3%;
}

.imagem00661{
    position: absolute;
    top: 118.8%;
    left: 82.8%;
    height: 35%;
    object-fit: cover;
}

.paragrafo808{
font-family: Arial, Helvetica, sans-serif;
position: absolute;
top: 154%;
left: 82.9%;
}

.imagem006{
    position: absolute;
    top: 117%;
    left: 82.8%;
    height: 35%;
    object-fit: cover;
}

.imagem4{
    position: absolute;
    top: 96.9%;
    left: 26%;
    height: 78%;
    object-fit: cover;
}

.paragrafo3{
font-family: Arial, Helvetica, sans-serif;
font-size: 105%;
position: absolute;
top: 154%;
left: 34%;
}

.frase01{
    position: absolute;
    top: 156%;
    left: 34%;
}

.paragrafo4{
    font-size: 105%;
    position: absolute;
    top: 159.5%;
    left: 34%;
}

.botao3{
    position: absolute;
    top: 163.9%;
    left: 33.9%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 105%;
}

.botao3:hover{
background-color: rgb(78, 170, 245);
}

.imagem5{
    position: absolute;
    top: 117.9%;
    height: 35%;
    left: 60%;
    object-fit: cover;
}

.paragrafo5{
font-family: Arial, Helvetica, sans-serif;
font-size: 105%;
position: absolute;
top: 153.8%;
left: 60.1%;
}

.botao4{
    position: absolute;
    top: 160.1%;
    left: 60%;
    background-color: rgb(24, 139, 233);
    color: white;
    border: none;
    border-radius: 20%;
    padding: 0.3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
}

.paragrafo6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    position: absolute;
    top: 160.8%;
    left: 63.9%;
    text-decoration: line-through;
}

.paragrafo7{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    position: absolute;
    top: 160.8%;
    left: 69.9%;
}

.botao5{
position: absolute;
top: 165.6%;
left: 60%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
}

.botao5:hover{
background-color: rgb(78, 170, 245);
}

.imagem6{
    position: absolute;
    top: 117.9%;
    left: 83%;
    height: 35%;
    object-fit: cover;
}

.paragrafo8{
font-family: Arial, Helvetica, sans-serif;
position: absolute;
font-size: 105%;
top: 154%;
left: 83%;
}

.paragrafo9{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 105%;
    top: 158.5%;
    left: 83.1%;
}

.botao6{
position: absolute;
top: 163.9%;
left: 83%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    cursor: pointer;
}

.botao6:hover{
background-color: rgb(78, 170, 245);
}

#rodape{
    background-color: rgb(29, 29, 29);
    padding-bottom: 1%;
    margin-top: 60%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
}

:root{
    --cor-fundo : rgb(29, 29, 29);
    --cor-hover : rgb(24, 139, 233);
    --cor-primaria : #fff;
}

#rodape .navegacao20 ul{
list-style-type: none;
padding: 0;
margin-right: 1%;
}

#rodape .navegacao20 ul{
    background-color: var(--cor-fundo);
}

#rodape .navegacao20 ul li{
    display: inline;
    position: relative;
}

#rodape .navegacao20 ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    transition: background .3s;
}

#rodape .navegacao20 ul li a:hover{
color: var(--cor-hover);
}

#rodape .navegacao20 ul ul{
display: none;
position: absolute;
left: 0;
}

#rodape .navegacao20 ul li:hover ul{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;
    display: block;
    margin-bottom: 10%;
}

#rodape .navegacao20 ul ul{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    width: 100px;
}

#rodape .navegacao20 ul ul li a{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
}

.link001{
position: absolute;
top: 201%;
right: 48.7%;
color: white;
}

.link0022{
    position: absolute;
    top: 206.5%;
    right: 46.5%;
    color: white; 
}

.link0338{
    position: absolute;
    top: 211%;
    right: 48.3%;
    color: white;
}

.paragrafo1010{
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10%;
}

.paragrafo1111{
    position: absolute;
    left: 37.8%;
    top: 239%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.subtitulo02{
    text-decoration: underline;
    color: white;
    padding: 1%;
}

.link03{
position: absolute;
top: 205%;
right: 48.5%;
color: white;
}

.paragrafo10{
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10.1%;
    margin-right: 2%;
}

.paragrafo11{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 234%;
    left: 36.9%;
    color: white;
}

.imagem980{
    position: absolute;
    top: 215%;
    left: 47.5%;
    width: 75px;
    height: 70px;
    object-fit: cover;
}

.imagem98080{
    position: absolute;
    top: 221.3%;
    left: 47%;
    width: 75px;
    height: 70px;
    object-fit: cover;
}

.imagem981{
    position: absolute;
    top: 218%;
    left: 47.3%;
    width: 75px;
    height: 70px;
    object-fit: cover;
}

.imagem982{
    position: absolute;
    top: 211%;
    left: 47.3%;
    width: 75px;
    height: 70px;
    object-fit: cover;
}

.secaoacessibilidade{
    padding-right: 2%;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1024px){
#acessibilidade{
    display: none;
}
body{
    overflow-x: hidden;
}
.imagem30{
    width: 70px;
    height: 65px;
    position: absolute;
    right: 93%;
    left: 1%;
    bottom: 90.5%;
    object-fit: cover;  
}
#cabeçalho{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: 110%;
    background-color: rgb(29, 29, 29);
    padding-top: 2%;
    padding-bottom: 2%;
}
.secao28{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    margin-left: 1%;
    margin-top: 0.5%;
    margin-bottom: 1%;
}
#titulop{
    position: absolute;
    bottom: 48%;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 8%;
    margin-bottom: 18%;
    margin-left: 30%;
    color: black;
    font-size: 140%;
}
.paragrafo08{
    position: absolute;
    padding-top: 32%;
    padding-left: 45%;
    padding-right: 45%;
    background-color: rgb(8, 90, 19);
    margin-top: 10%;
    margin-left: 5%;
    width: 80%;
    height: 60%;
    object-fit: cover;
}
.imagem0{
    position: absolute;
    top: 32.3%;
    margin-right: 10%;
    margin-left: 11%;
    width: 80%;
    height: 60%;
    object-fit: cover;
}
.subtitulo01{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 58%;
    margin-bottom: 9%;
    margin-left: 10%;
    color: black;
    font-size: 140%;
}
.box{
    position: absolute;
    top: 94.5%;
    left: 71%;
    border: 1px solid black;
    outline: none;
    background-color: #353b48;
    padding-right: 4%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.lupa{
    position: absolute;
    top: 95.4%;
    left: 89.9%;
    height: 4%;
    width: 2.9%;
}
.btn{
    position: absolute;
    top: 95%;
    left: 89.6%;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
}
.imagem3g{
    position: absolute;
    top: 110%;
    left: 1%;
    height: 34%;
    object-fit: cover; 
}
.paragrafo1{
    font-family: Arial, Helvetica, sans-serif;
font-size: 105%;
position: absolute;
top: 144.5%;
left: 1%;
font-size: 110%;
}
.botao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    position: absolute;
    top: 148.9%;
    left: 1%;
    background-color: rgb(24, 139, 233);
    color: white;
    border: none;
    border-radius: 20%;
    padding-left: 0.7%;
    padding-right: 0.7%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
}
.valorr{
    position: absolute;
    font-size: 105%;
    top: 149.5%;
    left: 7%;
    text-decoration: line-through;
    font-size: 110%;
}
.paragrafo2{
    position: absolute;
    font-size: 105%;
    top: 149.5%;
    left: 15%;
    font-size: 110%;
}
.botao2{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 154.4%;
    left: 1%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 105%;
}
.botao2:hover{
    background-color: rgb(78, 170, 245);
}
.imagem4{
    position: absolute;
    top: 88.1%;
    left: 16%;
    height: 78%;
    object-fit: cover;
}
.paragrafo3{
font-family: Arial, Helvetica, sans-serif;
font-size: 110%;
position: absolute;
top: 145.2%;
left: 28.8%;
}
.paragrafo4{
    font-size: 105%;
    position: absolute;
    top: 149.6%;
    left: 29%;
}
.botao3{
    position: absolute;
    top: 154.5%;
    left: 28.8%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 105%;
}
.imagem5{
    position: absolute;
    top: 109.5%;
    height: 35%;
    left: 55%;
    object-fit: cover;
}
.paragrafo5{
font-family: Arial, Helvetica, sans-serif;
font-size: 105%;
position: absolute;
top: 145.4%;
left: 55.5%;
font-size: 110%;
}
.botao4{
    position: absolute;
    top: 149.9%;
    left: 55.5%;
    background-color: rgb(24, 139, 233);
    color: white;
    border: none;
    border-radius: 20%;
    padding-left: 0.7%;
    padding-right: 0.7%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
}
.paragrafo6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    position: absolute;
    top: 150.8%;
    left: 61.4%;
    text-decoration: line-through;
}
.paragrafo7{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    position: absolute;
    top: 150.8%;
    left: 69%;
}
.botao5{
position: absolute;
top: 155%;
left: 55%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
}
.botao5:hover{
    background-color: rgb(78, 170, 245);
}
.imagem6{
    position: absolute;
    top: 109.9%;
    left: 80.6%;
    height: 35%;
    object-fit: cover;
}
.paragrafo8{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 105%;
    top: 146%;
    left: 81%;
}
.paragrafo9{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 105%;
    top: 150.8%;
    left: 81%;
}
.botao6{
position: absolute;
top: 155.5%;
left: 80.3%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    cursor: pointer;
}
#rodape{
    background-color: rgb(29, 29, 29);
    padding-bottom: 1%;
    margin-top: 93%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%; 
}
.imagem980{
    position: absolute;
    top: 197%;
    left: 47.5%;
    width: 75px;
    height: 70px;
    object-fit: cover;
}
.paragrafo10{
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10.9%;
    margin-right: 2%;
}
.paragrafo11{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 213%;
    left: 31%;
    color: white;
}
.paragrafo011{
    position: absolute;
    padding-top: 33%;
    padding-left: 45%;
    padding-right: 45%;
    background-image: linear-gradient(45deg, rgb(19, 22, 119), rgb(53, 139, 238));
    background-size: 300% 300%;
    margin-top: 10%;
    margin-left: 5%;
    width: 80%;
    height: 59%;
    object-fit: cover;
}
.imagem030{
    position: absolute;
    margin-top: 12%;
    margin-left: 11.5%;
    width: 80%;
    height: 59%;
    object-fit: cover;
}
#titulops{
    position: absolute;
    bottom: 49%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8%;
    margin-bottom: 18%;
    margin-left: 29%;
    color: black;
    font-size: 140%;
}
.imagem3{
position: absolute;
top: 109%;
left: 1%;
height: 35%;
object-fit: cover;
}
.imagem004{
    position: absolute;
    top: 109%;
    left: 28.6%;
    height: 35%;
    object-fit: cover;
}
.imagem005{
position: absolute;
top: 109.8%;
left: 54%;
height: 35%;
object-fit: cover;
}
.imagem006{
    position: absolute;
    top: 109.9%;
    left: 79%;
    height: 35%;
    object-fit: cover; 
}
.box2{
    position: absolute;
    top: 94.5%;
    left: 71%;
    border: 1px solid black;
    outline: none;
    background-color: #353b48;
    padding-right: 4%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.lupa2{
    position: absolute;
    top: 95.4%;
    left: 89.9%;
    height: 4%;
    width: 2.9%;
}
.btn2{
    position: absolute;
    top: 95%;
    left: 89.5%;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1; 
}
.paragrafo013{
    position: absolute;
    padding-top: 33%;
    padding-left: 45%;
    padding-right: 45%;
    background-image: linear-gradient(45deg, rgb(155, 44, 29), rgb(248, 77, 46));
    background-size: 300% 300%;
    margin-top: 10%;
    margin-left: 5%;
    width: 80%;
    height: 59%;
    object-fit: cover;
}
.imagem039{
    position: absolute;
    margin-top: 14%;
    margin-left: 11.1%;
    width: 80%;
    height: 55%;
}
#titulopn{
    position: absolute;
    bottom: 49%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8%;
    margin-bottom: 18%;
    margin-left: 28.5%;
    color: black;
    font-size: 140%;
}
.imagem303{
    position: absolute;
    top: 108%;
    left: 3%;
    width: 16%;
    height: 36%;
    object-fit: cover;
}
.imagem0048{
    position: absolute;
    top: 108%;
    left: 29%;
    width: 16%;
    height: 35%;
    object-fit: cover;
}
.frase01{
    position: absolute;
    top: 145.9%;
    left: 29%;
}
.paragrafo3303{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 143.1%;
    left: 29%;
}
.imagem0055{
    position: absolute;
    top: 107.3%;
    left: 56%;
    height: 35%;
    object-fit: cover;
}
.paragrafo0055{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 143%;
    left: 56%;
}
.paragrafo0066{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 145.9%;
    left: 56%;
}
.imagem00661{
    position: absolute;
    top: 107.5%;
    left: 80.3%;
    height: 35%;
    object-fit: cover;
}
.paragrafo808{
font-family: Arial, Helvetica, sans-serif;
position: absolute;
top: 145%;
left: 80.7%;
}
.box3{
    position: absolute;
    top: 94.5%;
    left: 71%;
    border: 1px solid black;
    outline: none;
    background-color: #353b48;
    padding-right: 4%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.lupa3{
    position: absolute;
    top: 95.4%;
    left: 89.9%;
    height: 4%;
    width: 2.9%;
}
.btn3{
    position: absolute;
    top: 95%;
    left: 89.5%;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1; 
}
.imagem98080{
    position: absolute;
    top: 201.9%;
    left: 47%;
    width: 75px;
    height: 70px;
    object-fit: cover;
}
.paragrafo1111{
    position: absolute;
    left: 32%;
    top: 218%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
}

@media screen and(max-width: 600px){
    .imagem30{
        width: 100%;
        height: 82%;
        position: absolute;
        left: 1%;
        bottom: 20%;
        object-fit: cover;
    }

.paragrafo08{
    position: absolute;
    padding-top: 32%;
    padding-left: 45%;
    padding-right: 50%;
    background-color: rgb(8, 90, 19);
    margin-top: 90%;
    margin-left: 5%;
    width: 90%;
    height: 10%;
    object-fit: cover;
}
#titulop{
    position: absolute;
    margin: 69%;
    font-family:Arial, Helvetica, sans-serif;    
    margin-left: 30%;
    color: black;
    font-size: 140%;  
}
}