*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#acessibilidade{
    text-align: center;
}

#atalhos li{
list-style-type: none;
display: inline;
color: #000;
text-align: center;
padding-top: 1%;
padding-bottom: 1%;
}

#atalhos li a{
    color: #000;
    padding: 1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
}

#atalhos li a:hover{
    color: rgb(24, 139, 233);
    padding: 1%;
}

#cabeçalho{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    background-color: rgb(29, 29, 29);
    padding-top: 2%;
    padding-bottom: 2%;
    }

:root{
    --cor-fundo : rgb(29, 29, 29);
    --cor-hover : rgb(24, 139, 233);
    --cor-primaria : #fff;
}

#cabeçalho .navegacao20 ul{
list-style-type: none;
padding: 0;
}

#cabeçalho .navegacao20 ul{
    background-color: var(--cor-fundo);
}

#cabeçalho .navegacao20 ul li{
    display: inline;
    position: relative;
}

#cabeçalho .navegacao20 ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    transition: background .3s;
}

#cabeçalho .navegacao20 ul li a:hover{
color: var(--cor-hover);
}

#cabeçalho .navegacao20 ul ul{
display: none;
left: 0;
position: absolute;
}

#cabeçalho .navegacao20 ul li:hover ul{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    display: block;
    border: 1px solid black;
}

#cabeçalho .navegacao20 ul ul{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    width: 100px;
}

#cabeçalho .navegacao20 ul ul li a{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding-top: 4%;
    padding-bottom: 4%;
}

.link1{
    color: white;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
  
.link2{
    color: white;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
  
.link3{
    color: white;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.paragrafo011{
    position: absolute;
    padding-top: 33%;
    padding-left: 45%;
    padding-right: 45%;
    background-image: linear-gradient(45deg, rgb(19, 22, 119), rgb(53, 139, 238));
    background-size: 300% 300%;
    margin-top: 2%;
    margin-left: 5%;
    width: 80%;
    height: 50%;
    object-fit: cover;
}

@keyframes colors{
    0%{
background-position: 0% 50%;
    }
    50%{
background-position: 100% 50%;
    }
    100%{
background-position: 0% 50%;
    }
}

.paragrafo08{
    position: absolute;
    padding-top: 32%;
    padding-left: 45%;
    padding-right: 45%;
    background-color: rgb(8, 90, 19);
    margin-top: 3.8%;
    margin-left: 5%;
    width: 80%;
    height: 60%;
    object-fit: cover;
}

.paragrafo013{
    position: absolute;
    padding-top: 33%;
    padding-left: 45%;
    padding-right: 45%;
    background-image: linear-gradient(45deg, rgb(155, 44, 29), rgb(248, 77, 46));
    background-size: 300% 300%;
    margin-top: 2%;
    margin-left: 5%;
    width: 80%;
    height: 50%;
    object-fit: cover;
}

.imagem030{
    position: absolute;
    margin-top: 2%;
    margin-left: 10.5%;
    width: 80%;
    height: 73%;
    object-fit: cover;
}

.secao28{
    margin-left: 1%;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

.imagem30{
    width: 75px;
    height: 70px;
    position: absolute;
    right: 93%;
    left: 1%;
    bottom: 84%;
    object-fit: cover;
}

.imagem039{
    position: absolute;
    margin-top: 2%;
    margin-left: 14.9%;
    width: 71%;
    height: 72%;
}

.opcao0{
color: white;
}

.opcao0:hover{
color: rgb(24, 139, 233);
}

.opcao1{
color: white;
}

.opcao1:hover{
color: rgb(24, 139, 233)
}

.opcao2{
color: white;
}

.opcao2:hover{
color: rgb(24, 139, 233);
}

a:hover{
    color: rgb(24, 139, 233);
}

section{
    width: 100%;
    margin-left: 1%;
    color: #000;
}

section ol{
    list-style-type: none;
    padding: 0;
    color: #000;
}

section ol li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

section ol li::after{
    content: '>>';
    margin-right: 10px;
    color: #666;
    font-size: .8em;
    color: #000;
}

section ol li:last-child::after{
    content: '';
}

section ol li a{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
margin-right: 10px;
color: rgb(24, 139, 233);
}

.imagem0{
    position: absolute;
    top: 33%;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 70%;
    object-fit: cover;
}

#titulop{
    position: absolute;
    bottom: 34%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8%;
    margin-bottom: 18%;
    margin-left: 31%;
    color: black;
    font-size: 23px;
}

#titulops{
    position: absolute;
    bottom: 35.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8%;
    margin-bottom: 18%;
    margin-left: 31%;
    color: black;
    font-size: 23px;
}

#titulopn{
    position: absolute;
    bottom: 35.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8%;
    margin-bottom: 18%;
    margin-left: 31%;
    color: black;
    font-size: 23px;
}

.subtitulo01{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40%;
    margin-bottom: 9%;
    margin-left: 10%;
    color: black;
}

#divisao0{
    padding: 0;
}

.imagem3{
position: absolute;
top: 119%;
left: 9%;
height: 35%;
object-fit: cover;
}

.imagem3g{
    position: absolute;
    top: 121%;
    left: 9%;
    height: 34%;
    object-fit: cover; 
}

.imagem303{
    position: absolute;
    top: 117%;
    left: 9%;
    width: 11%;
    height: 36%;
    object-fit: cover;
}

.imagem004{
    position: absolute;
    top: 119%;
    left: 34%;
    height: 35%;
    object-fit: cover;
}

.paragrafo1{
font-family: Arial, Helvetica, sans-serif;
position: absolute;
top: 156%;
left: 9%;
}

.botao{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 160%;
    left: 9%;
    background-color: rgb(24, 139, 233);
    color: white;
    border: none;
    border-radius: 20%;
    padding: 0.5%;
}

.valorr{
    position: absolute;
    top: 161%;
    left: 12.8%;
    text-decoration: line-through;
}

.paragrafo2{
    position: absolute;
    top: 161%;
    left: 18%;
}

.botao2{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 166%;
    left: 9%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 10px;
    cursor: pointer;
}

.botao2:hover{
    background-color: rgb(78, 170, 245);
}

.imagem0048{
    position: absolute;
    top: 117.8%;
    left: 34%;
    width: 11%;
    height: 35%;
    object-fit: cover;
}

.paragrafo3303{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 154%;
    left: 34%;  
}

.imagem005{
position: absolute;
top: 119.5%;
left: 60%;
height: 35%;
object-fit: cover;
}

.imagem0055{
position: absolute;
top: 118%;
left: 60%;
height: 35%;
object-fit: cover;
}

.paragrafo0055{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 153.3%;
    left: 60%;  
}

.paragrafo0066{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 156.5%;
    left: 60.3%;
}

.imagem00661{
    position: absolute;
    top: 118.8%;
    left: 82.8%;
    height: 35%;
    object-fit: cover;
}

.paragrafo808{
font-family: Arial, Helvetica, sans-serif;
position: absolute;
top: 155.7%;
left: 82.9%;
}

.imagem006{
    position: absolute;
    top: 119.5%;
    left: 82.8%;
    height: 35%;
    object-fit: cover;
}

.imagem4{
    position: absolute;
    top: 99%;
    left: 26%;
    height: 78%;
    object-fit: cover;
}

.paragrafo3{
font-family: Arial, Helvetica, sans-serif;
position: absolute;
top: 156%;
left: 34%;
}

.frase01{
    position: absolute;
    top: 157.3%;
    left: 34%;
}

.paragrafo4{
    position: absolute;
    top: 161%;
    left: 34%;
}

.botao3{
    position: absolute;
    top: 166%;
    left: 33.9%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 10px;
    cursor: pointer;
}

.botao3:hover{
background-color: rgb(78, 170, 245);
}

.imagem5{
    position: absolute;
    top: 121%;
    height: 34%;
    left: 60%;
    object-fit: cover;
}

.paragrafo5{
font-family: Arial, Helvetica, sans-serif;
position: absolute;
top: 156%;
left: 60%;
}

.botao4{
    position: absolute;
    top: 160%;
    left: 60%;
    background-color: rgb(24, 139, 233);
    color: white;
    border: none;
    border-radius: 20%;
    padding: 0.5%;
}

.paragrafo6{
    position: absolute;
    top: 161%;
    left: 63.5%;
    text-decoration: line-through;
}

.paragrafo7{
    position: absolute;
    top: 161%;
    left: 69%;
}

.botao5{
position: absolute;
top: 166%;
left: 60%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 10px;
    cursor: pointer;
}

.botao5:hover{
background-color: rgb(78, 170, 245);
}

.imagem6{
    position: absolute;
    top: 121%;
    left: 83%;
    height: 35%;
    object-fit: cover;
}

.paragrafo8{
font-family: Arial, Helvetica, sans-serif;
position: absolute;
top: 156.8%;
left: 83%;
}

.paragrafo9{
    position: absolute;
    top: 161%;
    left: 83%;
}

.botao6{
position: absolute;
top: 166%;
left: 83%;
    border: 1px solid #000;
    background-color: rgb(24, 139, 233);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 10px;
    cursor: pointer;
}

.botao6:hover{
background-color: rgb(78, 170, 245);
}

#rodape{
    background-color: rgb(29, 29, 29);
    padding-bottom: 1%;
    margin-top: 57%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor-fundo : rgb(29, 29, 29);
    --cor-hover : rgb(24, 139, 233);
    --cor-primaria : #fff;
}

#rodape .navegacao20 ul{
list-style-type: none;
padding: 0;
margin-right: 1%;
}

#rodape .navegacao20 ul{
    background-color: var(--cor-fundo);
}

#rodape .navegacao20 ul li{
    display: inline;
    position: relative;
}

#rodape .navegacao20 ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    transition: background .3s;
}

#rodape .navegacao20 ul li a:hover{
color: var(--cor-hover);
}

#rodape .navegacao20 ul ul{
display: none;
left: 0;
position: absolute;
}

#rodape .navegacao20 ul li:hover ul{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    display: block;
    border: 1px solid black;
}

#rodape .navegacao20 ul ul{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    width: 100px;
}

#rodape .navegacao20 ul ul li a{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
}

.link001{
position: absolute;
top: 201%;
right: 48.7%;
color: white;
}

.link0022{
    position: absolute;
    top: 206.5%;
    right: 46.5%;
    color: white; 
}

.link0338{
    position: absolute;
    top: 211%;
    right: 48.3%;
    color: white;
}

.paragrafo1010{
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10%;
}

.paragrafo1111{
    position: absolute;
    left: 38%;
    top: 239%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.subtitulo02{
    text-decoration: underline;
    color: white;
    padding: 1%;
}

.link03{
position: absolute;
top: 205%;
right: 48.5%;
color: white;
}

.paragrafo10{
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10.1%;
    margin-right: 2%;
}

.paragrafo11{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 233%;
    left: 37%;
    margin-bottom: 3%;
    color: white;
}

.imagem980{
    position: absolute;
    top: 214%;
    left: 47%;
    width: 75px;
    height: 70px;
    object-fit: cover;
}

.imagem98080{
    position: absolute;
    top: 220%;
    left: 47%;
    width: 75px;
    height: 70px;
    object-fit: cover;
}

.imagem981{
    position: absolute;
    top: 218%;
    left: 47.3%;
    width: 75px;
    height: 70px;
    object-fit: cover;
}

.imagem982{
    position: absolute;
    top: 211%;
    left: 47.3%;
    width: 75px;
    height: 70px;
    object-fit: cover;
}

.secaoacessibilidade{
    font-family: Arial, Helvetica, sans-serif;
}